<div class="application-history-container">
  <h2 class="list-title">
    Historique des candidatures <span><i class="ri-file-list-line"></i></span>
  </h2>

  <div class="table-card shadow-lg">
    <div class="table-responsive">
      <table class="user-table">
        <thead>
          <tr>
            <th class="header-cell">Date</th>
            <th class="header-cell">Étudiant</th>
            <th class="header-cell">Moyenne</th>
            <th class="header-cell">Statut</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of items()" class="user-row">
            <td class="data-cell">{{ c.createdAt | date:'short' }}</td>
            <td class="data-cell">{{ c.studentName }}</td>
            <td class="data-cell">{{ c.moyenne }}</td>
            <td class="data-cell center">
              <i class="status-icon"
                [ngClass]="{
                  'ri-time-line status-pending': c.status === 'PENDING',
                  'ri-check-line status-active': c.status === 'ACCEPTED',
                  'ri-close-line status-inactive': c.status === 'REFUSED',
                  'ri-hourglass-2-line status-waiting': c.status === 'WAITING_LIST'
                }">
              </i>
            </td>

          </tr>
          <tr *ngIf="!items() || items().length === 0">
            <td class="no-data-row" [attr.colspan]="4">
              Aucune candidature trouvée.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
