<div class="app-wrapper" *ngIf="showSidenav; else fullContent">
  <aside class="sidebar">
    <div class="sidebar-header">
    </div>
    <nav class="sidebar-nav">
      <ng-container *ngFor="let item of menuItems">
        <a class="nav-item" [routerLink]="item.route" routerLinkActive="active" *ngIf="canView(item)">
          <div class="icon-wrapper">
            <mat-icon>{{ item.icon }}</mat-icon>
          </div>
          <span class="label">{{ item.label }}</span>
        </a>
      </ng-container>
    </nav>
  </aside>

  <main class="main-content-area">
    <header class="top-header">
      <div class="header-left">
        <span class="page-title">Plateforme de mobilité</span>
      </div>
      <div class="header-right">
        <button class="icon-button" aria-label="Account">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </header>

    <div >
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<ng-template #fullContent>
  <router-outlet></router-outlet>
</ng-template>