<mat-sidenav-container class="sidenav-container" *ngIf="showSidenav; else fullContent">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngFor="let item of menuItems">
        <a mat-list-item [routerLink]="item.route" routerLinkActive="active" *ngIf="canView(item)">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="topbar">
      <button mat-icon-button aria-label="Toggle sidenav" disabled>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">Candidature</span>
      <span class="spacer"></span>
      <button mat-icon-button aria-label="Account"><mat-icon>account_circle</mat-icon></button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #fullContent>
  <!-- No sidenav/toolbar on login/register -->
  <router-outlet></router-outlet>
</ng-template>
